# fix from https://xdaforums.com/t/rom-official-lineageos-23-weeklies-for-galaxy-tab-s7-wifi-and-s7-lte.4763404/post-90666040
# DisplayPort / USB-C external display support
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_BRIDGE=y
CONFIG_TYPEC=y
CONFIG_TYPEC_DP_ALTMODE=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_EXTCON=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_MSM_EXT_DISPLAY=y

# USB-C DisplayPort redriver for gts7l
CONFIG_REDRIVER=y
CONFIG_COMBO_REDRIVER_PS5169=y
# CONFIG_COMBO_REDRIVER_PTN36502 is not set